<ion-view view-title="Kwiki">
  <ion-nav-buttons side="primary">
    <button class="button button-energized" ng-click="handleCancel()">
      Cancel
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div id="load-container">
      <div class="button-clear button-assertive load-text">Today is a good day for a kwiki</div>
        <ion-spinner icon="ripple" class="spinner-energized"></ion-spinner>
    </div>
    <div>
      <a ng-href="#/profile/{{ profile.id }}">Gary's Stupid Button</a>
    </div>
  </ion-content>
</ion-view>
